@import '../../Variables.scss';

.landingpagecontainer {
        height: fit-content; 
        // min-height: 100vh;  
        margin: 50px 50px 100px 50px;
        display: flex;
        
        
        .allarticlescontainer {
            width: 70%;
            border-right: 1px black solid;
            padding-right: 50px;
            
            .singlearticlecontainer {
                width: 100%;
                display: flex;
                min-height: 400px;
                margin-bottom: 50px;
                
                .articletextsection {
                    flex: 1;
                    justify-content: left;
                    margin-right: 50px;
                    
                // funkar inte än
                // .allarticlescontainer:nth-child(odd) .singlearticlecontainer .articletextsection h4{
                //     background-color: red;
                // }
                  
                // .allarticlescontainer:nth-child(even) .singlearticlecontainer .articletextsection h4{
                //     background-color: blue;
                // }                  
            
                .articleheading {
                    margin-right: 50px;
                    border-bottom: 1px black solid;
                    padding: 10px;
                    background-color: $lightgreen;
                }

                .articledate {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    text-align: right;
                }
            
                .articlecopy{
                    background-color: $lightgreen;
                    padding: 10px;
                    text-align: justify;
                }
            }

            .articleimage {
                justify-content: right;
                width: 70%;
                background-color: darkgrey;
            }


        }
    }

    .landingpageinfo {   
        width: 30%;
        margin-left: 50px;
        text-align: center;  
        
        .didyouknowcontainer {
            text-align: center;            
        }

        .olderarticlescontainer {
            margin-top: 50px;

            .olderarticlesheading {
                margin-bottom: 20px!important;
            }

            .olderarticle {

                .olderarticleimage {
                    margin: auto;
                    height: 200px;
                    background-color: darkgrey;
                    margin-top: 20px;
                    margin-bottom: 10px;               
                } 
            }
        }
    }
}

@media only screen and (max-width: 1040px) {

    .allarticlescontainer {
        width: 100%!important;
        border-right: none!important;
        padding-right: 0px!important;
    }

    .landingpageinfo {
        display: none
    }
}
 
@media only screen and (max-width: 480px) {   
    
    .landingpagecontainer {
        height: fit-content;   
        margin: 20px 20px 50px 20px;
        
    .allarticlescontainer {
        width: 100%;
        border-right: none;
        padding-right: 0px;

        .singlearticlecontainer {
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 30px;

            .articletextsection {
                min-width: fit-content;
                margin-right: 0px!important;
                margin-bottom: 10px;
                flex: inherit;
            }

            .articleimage {
                width: 100%;
                height: 150px;
                flex: none;
            }
        }
    }

        .landingpageinfo {
            display: none
        }
    }
}