
.landingpagecontainer {
    height: fit-content; 
    margin: 50px 50px 100px 50px;
    display: flex;
    
        .allarticlescontainer {
            width: 70%;
            border-right: 1px black solid;
            padding-right: 50px;        

        div:last-child {
            margin-bottom: 0px!important;
        }
        
        .singlearticlecontainer {
            width: 100%;
            display: flex;
            min-height: 400px;
            margin-bottom: 50px;
            overflow: hidden;
            
            .articletextsection {
                flex: 1;
                justify-content: left;
                margin-right: 50px;    
        
            .articleheading {
                margin-right: 50px;
                border-bottom: 1px black solid;
                padding: 10px;
                background-color: $firstcolor;
            }

            .articledate {
                padding-top: 5px;
                padding-bottom: 5px;
                text-align: right;
            }
        
            .articlecopy a{
                background-color: $firstcolor;
                padding: 10px;
                text-align: justify;
                font-size: 14px;
                font-family: $copy;
                display: inline-block;
            }
        }

        .articleimage {
            justify-content: right;
            width: 70%;
            height: auto;
            
            img {
                width: 100%;

                &:hover {
                    opacity: 80%;
                }
            }
        }
    }
}

    .landingpageinfo {   
        width: 30%;
        margin-left: 50px;
        text-align: center;  
        
        .didyouknowcontainer {
            text-align: center;
            
            h3 {
                margin-bottom: 10px!important;
            }
        }

        .olderarticlescontainer {
            margin-top: 50px;

            .olderarticlesheading {
                margin-bottom: 20px!important;
            }

            .olderarticle {
                text-align: -webkit-center;

                &:hover {
                    opacity: 80%;
                }

                .olderarticleimage {
                    margin: auto;
                    height: 200px;
                    margin-top: 40px;
                    margin-bottom: 10px;  
                    
                    img {
                        max-height: -webkit-fill-available;
                        max-width: 100%;
                    }
                } 

                h4 {
                    width: 230px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1040px) {

    .allarticlescontainer {
        width: 100%!important;
        border-right: none!important;
        padding-right: 0px!important;

        .articleimage {
            justify-content: right;
            width: 60%!important;
        }
    }

    .landingpageinfo {
        display: none
    }
}
 
@media only screen and (max-width: 480px) {   
    
    .landingpagecontainer {
        height: fit-content;   
        margin: 20px 20px 50px 20px;
        
    .allarticlescontainer {
        width: 100%;
        border-right: none;
        padding-right: 0px;

        .singlearticlecontainer {
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 30px;

            .articletextsection {
                min-width: fit-content;
                margin-right: 0px!important;
                margin-bottom: 10px;
                flex: inherit;
            }

            .articleimage {
                width: 100%!important;
                // height: 150px;
                flex: none;
            }
        }
    }

        .landingpageinfo {
            display: none
        }
    }
}