@import '../../Variables.scss';
$assetPath :"../../icons";


#header {
  margin: 50px 50px 0px 50px;
  border-bottom: 1px black solid;
  
  #headercontainer {        
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
    #headertitle { 
        max-width: 400px;

        h1 {
          background-color: $lightgreen;
          min-width: 100%;
          text-align: center;
          padding: 10px;
          margin-bottom: 10px;
        }
        
        h3 {
          background-color: $lightsalmon;
          min-width: 100%;
          text-align: center;
          padding: 10px;
          margin: 0px!important;
        }
    }

    #menu {
        min-width: 20%;
        align-self: flex-end;
        text-align: right;   
    }
  }
} 

#navbar-component.hide {
  display: none
}

#navbar-component.show {
  display: block;
}

@media only screen and (max-width: 1040px) {
    #headertitle {
        max-width: 300px!important;
    }
}
 
@media only screen and (max-width: 480px) {

    #header {
        margin: 20px 20px 10px 20px;

        #headertitle {
            max-width: 200px!important;
        }
    }
}