
#header {
  padding-top: 50px;
  margin: 0px 50px 0px 50px;
  border-bottom: 1px black solid;
  
  #headercontainer {        
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
    #headertitle { 
      max-width: 400px;

      h1 {
        background-color: $firstcolor;
        min-width: 100%;
        text-align: center;
        padding: 10px;
        margin-bottom: 10px;

        &:hover {
          color: rgb(3, 57, 3);
        }
      }
      
      h3 {
        background-color: $secondcolor;
        min-width: 100%;
        text-align: center;
        padding: 10px;
        margin: 0px!important;
        
        &:hover {
          color: #3d2b4c;;
        }
      }
    }

    #menucontainer.show {
      width: 55px;
      -webkit-transition: width 1s ease-in-out;
      -moz-transition: width 1s ease-in-out;
      -o-transition: width 1s ease-in-out;
      transition: width 1s ease-in-out;
    }

    #menucontainer {
      width: 10px;
      height: 45px;
      align-self: flex-end;
      text-align: right;
      margin-bottom: 10px;

      .menubutton {
        width: 100%;
        height: 10px;
        background-color: black;
        display: block;
        border-radius: 10px;
        margin-top: 5px;
      }  
    }
  }
} 

#navbar-component.hide {
  display: none
}

#navbar-component.show {
  display: block;
}

@media only screen and (max-width: 1040px) {
  
  #headertitle {
      max-width: 300px!important;
  }
}
 
@media only screen and (max-width: 480px) {

  #header {
    margin: 20px 20px 10px 20px;
    padding-top: 0px;

    #headertitle {
      max-width: 200px!important;
    }
  }
}