@import '../../Variables.scss';

footer {
    background-color: $offwhite;
    bottom: 0;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;

    .scrolltotop {
        z-index: 10;
        position: relative;
        bottom: 40px;
        left: 94%;

        img{
            width: 30px;
            height: 30px;
        }
    }
    
    #footercontainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 50px 0px 50px;

        #footerleft, #footerright {
            max-width: 33%;
        }

        #footericons {
            max-width: 20%;
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            align-items: baseline;

            .iglogo, .letterlogo {
                width: 30px;
            }
                        
            .fblogo {
                width: 20px;
            }
        }

        #footerright {
            text-align: right;
        }
    }
}

@media only screen and (max-width: 1040px) {

    .footer {
        width: 100%;
        height: 100px;

        .scrolltotop {
            left: 90%;
        }

        #footercontainer {       
            justify-content: center;
        
            #footerleft, #footerright {
                display: none;
            }

            #footericons {
                max-width: 50%;
                text-align: center;
            }
        }
    }
}

 
@media only screen and (max-width: 480px) {   

    .footer {

        .scrolltotop {
            left: 84%;
        }
    }    
}