@import '../src/components/About/About.scss';
@import '../src/components/Article/Article.scss';
@import '../src/components/Footer/Footer.scss';
@import '../src/components/Header/Header.scss';
@import '../src/components/Header/Navbar/Navbar.scss';
@import '../src/components/Inspiration/Inspiration.scss';
@import '../src/components/Landingpage/Landingpage.scss';
@import '../src/App.scss';

@import '../src/Variables.scss';