@import url('https://fonts.googleapis.com/css2?family=Yeseva+One:400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

//COLORS
$bgColor: white;
$fontColor: black;
$firstcolor: #EBF8F3;
$secondcolor: #F9F2FF;
$secondcolor2: #F9F2FF;
$offwhite: #FBFBFB;

//FONTS
$heading: "Yeseva One", ;
$copy: "Roboto", ;

h1 {
    font-family: $heading;
    font-size: 72px;
    color: $fontColor;
    margin-top: 0px!important;
}

//artikel-rubrik
h2 {
    font-size: 36px;
    margin: 0px!important;
}

h3 {
    font-family: $heading;
    font-size: 24px;
    color: $fontColor;
    margin: 0px!important;
}

h4 {    
    font-family: $heading;
    font-size: 18px;
    color: $fontColor;
    margin: 0px!important;
}

p {
    font-family: $copy;
    margin: 0px!important;
}

p.big {
    font-size: 20px;
}

p.medium {
    font-size: 16px;
    font-family: $copy;
}

p.small {
    font-size: 14px;
}

a {
    font-family: $heading;
    color: $fontColor;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;

    &:hover, &:active {
        text-decoration: underline;
    }
}

a.footerlink {
    font-family: $copy; 
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;

    &:hover, &:active {
    text-decoration: underline;
    }
}


button {
    font-family: $heading;
    color: $fontColor;
    font-size: 24px;
    font-weight: 600;
    background-color: transparent;
    border: 0px!important;
    padding: 0px!important;
    outline:none;

    &:hover, &:active, &:focus {
        text-decoration: underline;
        outline:none;
    }
}

@media only screen and (max-width: 1040px) {
    h1 {
        font-size: 72px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18;
    }
}


@media only screen and (max-width: 480px) {

    h1 {
        font-family: $heading;
        font-size: 36px;
        color: $fontColor;
        margin-top: 0px!important;
    }

    h2 {
        font-family: $heading;
        font-size: 20px;
        color: $fontColor;
    }

    h3, h4 {
        font-family: $heading;
        font-size: 14px;
        color: $fontColor;
    }

    a {
        font-family: $heading;
        color: $fontColor;
        font-size: 24px;
        font-weight: 600;
        text-decoration: none;
    
        &:hover, &:active {
            text-decoration: underline;
        }
    }

    button {
        font-size: 14px;
    }
}