@import '../../../Variables.scss';


#navbarcontainer {
        position: absolute;
    right: 0px;
    top: 230px;
    z-index: 10;
    width: 320px; 
    background-color: $offwhite;
    margin: 0px 50px 0px 50px;

    .navbar {        

        ul.navbar-nav {
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin-top: 20px!important;
            padding-inline-start: 0px!important;
            margin-block-end: 0px!important;

            li {                
                padding-bottom: 10px;
                writing-mode: vertical-rl;
                text-orientation: upright;
                list-style: none;
                
                a {
                    margin-top: 0px!important;
                }
            }
        }  
    }
}

@media only screen and (max-width: 1040px) {
    #navbarcontainer {
        width: 40%;  
    }   
} 

@media only screen and (max-width: 480px) {
    #navbarcontainer {
        top: 150px;
        margin: 0px 20px 0px 20px!important;
        width: -webkit-fill-available;
    }   
}